
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background: #000000;
   
  }
  
  
  #dark {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #dark #box {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 220px;
  /*   height: 200px; */
    padding: 20px;
    background: whitesmoke;
    border-radius: 2px;
  }
  
  #box #playX, #box #playO, #box #message {
    min-width: 120px;
    margin: 10px;
    padding: 10px 30px;
    border: solid skyblue 1.5px;
    border-radius: 2px;
    color: skyblue;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  #box #playX:hover, #box #playO:hover {
    background: skyblue;
    color: whitesmoke;
  }
  
 
  header h1 {
    letter-spacing: 0.2em;
    color: whitesmoke;
    font-size: 34px;
    padding: 20px 10px;
    font-weight: normal;
  }
  @media only screen and (min-width: 768px) {
    header h1 {
      font-size: 42px;
    }
  }
  
  
  .main {
    width: 262px;
    height: 262px;
    padding: 5px;
    margin: auto;
    background: whitesmoke;
    border-radius: 20px;
  }
  @media only screen and (min-width: 768px) {
    .main {
      width: 332px;
      height: 332px;
      padding: 10px;
    }
  }
  
  
  .main div {
    width: 80px;
    height: 80px;
    margin: 2px;
    background: skyblue;
    background-size: 200%;
    float: left;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 60px;
    line-height: 80px;
    font-family: monospace;
    text-transform: uppercase;
  }
  @media only screen and (min-width: 768px) {
    .main div {
      width: 100px;
      height: 100px;
      margin: 2px;
      line-height: 100px;
    }
  }
  .main .playable:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .hidden {
    display: none !important;
  }
  
  
  